<h1 class="page-header">Подарки
	<button type="button" class="btn btn-success" ng-click="saveData($event)" data-loading-text="Сохранение...">Сохранить</button>
</h1>
<div class="row gifts-list">
  <div class="col-sm-6 col-md-4" ng-repeat="gift in gifts">
    <div class="thumbnail">
      <div class="glyphicon glyphicon-remove remove" ng-click="removeGift($index)" tooltip="Удалить" tooltip-placement="right"></div>
      <img ng-src="{{gift.src}}" alt="{{gift.title}}">
      <div class="caption">

      		<label for="scrImage">Ссылка на фотографию подарка:</label>
      		<input type="text" id="srcImage" class="form-control" value="{{gift.src}}" popover="Чтобы добавить картинку, найдите ее в интернете, кликнув по ней выберите 'Копировать URL' и вставьте ссылку в это поле."  popover-trigger="focus" ng-model="gift.src">
      		<label for="scrImage">Название подарка:</label>
      		<input type="text" class="form-control" value="{{gift.title}}" ng-model="gift.title" />
      		<label for="scrImage">Ссылка на покупку подарка:</label>
      		<input type="text" class="form-control" value="{{gift.link}}" ng-model="gift.link"/>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
      <div class="thumbnail add-gift glyphicon glyphicon-plus" ng-click="addGift()"></div>
  </div>
</div>