<h1 class="page-header">Панель администрирования вашего сайта</h1>
<div class="jumbotron">
  <div class="container">
    <h1>Привет, Пользователь</h1>
  </div>
</div>
<div class="row home-menu">
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      Настройки
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      Профиль
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      Помощь
    </a>
  </div>
</div>