<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="#">Главная</a></li>
  <li role="presentation"><a href="#">История</a></li>
  <li role="presentation"><a href="#">Информация</a></li>
  <li role="presentation"><a href="#">Программа</a></li>
  <li role="presentation"><a href="#">Подарки</a></li>
  <li role="presentation"><a href="#">Список гостей</a></li>
  <li role="presentation"><a href="#">Рассадка гостей</a></li>
  <li role="presentation"><a href="#">Опросы и голосования</a></li>
</ul>