<li ng-class="menuClass('')"><a href="#/">Главная</a></li>
<li ng-class="menuClass('inform')"><a href="#/inform">Информация</a></li>
<li ng-class="menuClass('program')"><a href="#/program">Программа мероприятия</a></li>
<li ng-class="menuClass('guests-list')"><a href="#/guests-list">Список гостей</a></li>
<li ng-class="menuClass('gifts')"><a href="#/gifts">Подарки</a></li>
<li ng-class="menuClass('seating-plan')"><a href="#/seating-plan">План рассадки</a></li>
<li ng-class="menuClass('mailing')"><a href="#/mailing">Рассылка новостей</a></li>